*.bak
*.ll
*.o
*.s

.zcompdump*
/.aws
/.azure
/.bash_history
/.bash_logout
/.bundle
/.cache
/.ccnet
/.circleci
/.cpan
/.devenv
/.docker
/.dotfiles
/.direnv
/.env
/.gem
/.gilt
/.histfile
/.irb_history
/.landscape
/.lemminx
/.lesshst
/.lldb
/.motd_shown
/.nix-*
/.node-gyp
/.npm
/.osc.cookejar
/.osc.projects
/.parallel
/.pre-commit-config.yaml
/.psql_history-*
/.python_history
/.rubies
/.shard_land
/.ssh-ident
/.ssh/agents
/.ssh/id_*
/.ssh/known_hosts*
/.sudo_as_admin_successful
/.tig_history
/.tmux
/.units_history
/.viminfo
/.venv
/.vscode-server
/.vscode/
/.wget-hsts
/.yarnrc
