[core]
  autocrlf = false 
  # fileMode = false

[user]
	email = straightshoota@gmail.com
  name = Johannes Müller
  signingkey = F0F349637AC5087A

[commit]
  gpgsign = true

[push]
  default = simple

[alias]
  cm = commit -m
  fix = commit --fixup

[log]
  decorate = auto

[pull]
  rebase = true

[rebase]
  autoSquash = true

[url "git@github.com:"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[gpg]
  program = gpg2
